<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZMarqueeViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F9D555B1DD9F64100AF9FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9D556F1DD9F64100AF9FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9D557A1DD9F64100AF9FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
